@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    height: 100%;
    margin: 0 auto;
}

header {
    background: rgb(56, 32, 68);
    color: white;
    height: 130px;
}

h1 {
    margin-top: 30px;
}

header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-btn-list {
    list-style: none;
    display: flex;
    margin-top: 10px;
}

header li {
    padding-right: 30px;
    cursor: pointer;
}

.btn.hidden {
    display: none;
}

.btn.active {
    font-weight: 800;
}

main .container {
    padding-top: 50px
}

h2 {
    color: rgb(56, 32, 68);
}

/* Form */

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    width: 300px;
    margin-bottom: 20px;
    height: 30px;
    padding: 2px 8px;
}

button {
    font-size: 16px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}